<form action="actions/contact" method="post">
    {% csrf_token %}
    {% if message %}
        <p class="has-text-success is-size-5">{{ message }}</p>
    {% endif %}
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Full name" name="name" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-danger" type="email" placeholder="Email" value="" name="email" required>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Subject</label>
      <div class="control">
        <input class="input" type="text" placeholder="Subject" name="subject" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea class="textarea" placeholder="Message" name="message" required></textarea>
      </div>
    </div>

    <div class="field">
      <div class="control">
        {% if error %}
            <p class="has-text-danger">{{ error }}</p>
        {% endif %}
        <label class="checkbox">
          <input type="checkbox" name="terms">
          I agree to the <a href="#">terms and conditions</a>
        </label>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>
</form>