{% load static %}
{% if disabled %}
<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="{% static 'images/logo.png' %}">
            </a>

            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-disabled">
                    <a href="" class="navbar-link">
                        Account
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item is-disabled">
                            Dashboard
                        </a>
                        <a class="navbar-item is-disabled">
                            Profile
                        </a>
                        <a class="navbar-item is-disabled">
                            Settings
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item is-disabled">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% else %}
<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="{% static 'images/logo.png' %}" alt="Bulma: a modern CSS framework based on Flexbox">
            </a>

            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Account
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Dashboard
                        </a>
                        <a class="navbar-item">
                            Profile
                        </a>
                        <a class="navbar-item">
                            Settings
                        </a>
                        <hr class="navbar-divider">
                        <div class="navbar-item">
                            <a href="/actions/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endif %}
