{% for msg in messages %}
<div class="message-box" id="msg-{{ forloop.counter|add:-1 }}" onclick="$(this).showMessages({{ forloop.counter|add:-1 }})">
    <div class="card-content">
        <div class="msg-header">
            <span class="msg-from"><small>From: {{ msg.from }}</small></span>
            <span class="msg-timestamp">{{ msg.timestamp }}</span>
        </div>
        <div class="msg-subject">
            <span class="msg-subject"><strong id="subject-1">{{ msg.snippet }}</strong></span>
        </div>
        <div class="content is-hidden">
            <span class="fullMail">{{ msg.chat|safe }}</span>
        </div>
    </div>
</div>
{% endfor %}
