<div class="columns">
    <div class="column footer-item">
        <p class="footer-title">What is Instapowr?</p>
        <p class="footer-content">
            Instapowr is an one-stop shop for messaging on all social media platforms. Currently we have an inbox for Twitter, Instagram and Facebook.<br>
            Instapowr is a new platform. Please let us know if you encounter any issues.
        </p>
    </div>
    <div class="column footer-item">
        <p class="footer-title">About Instapowr</p>
        <p class="footer-content">
            Milvozent<br>
            Ferdinand Bolstraat 101<br>
            Leeuwarden  8932JN<br>
            <a href="/contact">Contact</a>
        </p>
    </div>
    <div class="column footer-item">
        <p class="footer-title">Important pages</p>
        <p class="footer-content">
            <a href="/tos">- Terms and Services</a> <br>
            <a href="/disclaimer">- Disclaimer</a> <br>
            <a href="/privacy-policy">- Privacy Policy</a>
        </p>
    </div>
</div>