<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous">
</script>
{% load static %}
<script>
    $(document).ready(function () {
        jQuery(function(){
            $("#submit").click(function(){
            $(".error").hide();
            var hasError = false;
            var passwordVal = $("#password").val();
            var checkVal = $("#passwordConfirm").val();
            if (passwordVal == '' && !$('.first-pass').length) {
                $("#password").before('<span class="pass-error first-pass">Please enter a password.</span>');
                hasError = true;
            } else if (checkVal == '' && !$('.second-pass').length) {
                $("#passwordConfirm").before('<span class="pass-error second-pass">Please re-enter your password.</span>');
                hasError = true;
            } else if (passwordVal != checkVal && !$('.no-match').length) {
                $("#passwordConfirm").after('<span class="pass-error no-match">Passwords do not match.</span>');
                hasError = true;
            }
            if (passwordVal == '') {
                hasError = true;
            } else if (checkVal == '') {
                hasError = true;
            } else if (passwordVal != checkVal) {
                hasError = true;
            }
            if(hasError == true) {return false;}
        });
    });
});
</script>
<div class="has-text-centered">
    <h3 class="title has-text-grey">Register</h3>
    <div class="box">
    <figure class="avatar">
        <img src="{% static 'images/favicon.png' %}" width="128px">
    </figure>
    <form name="form1" id="form-password" action="../actions/register" method="post">
        {% csrf_token %}
        <div class="field">
            <div class="control has-icons-left">
                <input class="input is-large" type="text" placeholder="Your full name" id="name" name="name">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control has-icons-left">
                <input class="input is-large" type="email" placeholder="Your email" id="email" name="email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <div class="control has-icons-left">
                <input class="input is-large" type="password" placeholder="Your password" id="password" name="password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control has-icons-left">
                <input class="input is-large" type="password" placeholder="Retype password" id="passwordConfirm">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control has-icons-left">
                <label></label>
                <input class="input is-large" type="tel" placeholder="Phone number" id="phone" name="phone" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                </span>
            </div>
        </div>
        <button type="submit" class="button is-block is-info is-large is-fullwidth" value="submit" id="submit">Register</button>
    </form>
    </div>
    <p class="has-text-grey">
    <a href="/login">Sign in</a> &nbsp;·&nbsp;
    <a href="/password-reset">Forgot Password</a> &nbsp;·&nbsp;
    <a href="/contact">Need Help?</a>
    </p>
    </div>
    </div>
</div>