div.footer-item {
    width: 100%;
    height: 150px;
    background-color: #333333;
}

div.footer-item p{
    color: #ffffff;
    margin-left: 20px;
}

div.footer-item p.footer-title {
    font-size: 18px;
}

div.footer-item p.footer-content {
    font-size: 12px;
}

div.footer-item a {
    color: #ffffff !important;
}

div.footer-item a:hover {
    color: #ff6666 !important;
}

html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}
.hero.register {
  background: #F2F6FA;
}
.hero .nav, .hero.register .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}

span.pass-error {
    color: red;
}

section.has-bg-color {
    background-color: #D87B52;
}