<!DOCTYPE html>
<html>
    {% include 'base/head.html' %}
    <body>
    {% include 'base/dash_header.html' with disabled=True %}
    <div class="container is-fluid">
        <div class="columns">
            <div class="column package-option has-text-centered">
                <h2 class="is-size-3">Free</h2>
                <ul>
                    <li><p class="is-size-6">up to 10 free-tiered accounts</p></li>
                </ul>
            </div>
            <div class="column package-option has-text-centered">
                <h2 class="is-size-3 has-text-centered">Basic</h2>
                <ul>
                    <li><p class="is-size-6">unlimited amount of free-tiered accounts</p></li>
                    <li><p class="is-size-6">up to 10 premium-tiered accounts</p></li>
                </ul>
            </div>
            <div class="column package-option has-text-centered">
                <h2 class="is-size-3 has-text-centered">Pro</h2>
                <ul>
                    <li><p class="is-size-6">unlimited amount of free-tiered accounts</p></li>
                    <li><p class="is-size-6">up to 25 premium-tiered accounts</p></li>
                </ul>
            </div>
            <div class="column package-option has-text-centered">
                <h2 class="is-size-3 has-text-centered">Business</h2>
                <ul>
                    <li><p class="is-size-6">unlimited amount of free-tiered accounts</p></li>
                    <li><p class="is-size-6">up to 50 premium-tiered accounts</p></li>
                </ul>
            </div>
        </div>
        <div class="columns">
            <div class="column package-option has-text-centered">
                <a href="package/1"><button class="button is-block is-info is-large is-fullwidth">Choose package</button></a>
            </div>
            <div class="column package-option has-text-centered">
                <a href="package/2"><button class="button is-block is-info is-large is-fullwidth">Choose package</button></a>
            </div>
            <div class="column package-option has-text-centered">
                <a href="package/3"><button class="button is-block is-info is-large is-fullwidth">Choose package</button></a>
            </div>
            <div class="column package-option has-text-centered">
                <a href="package/4"><button class="button is-block is-info is-large is-fullwidth">Choose package</button></a>
            </div>
        </div>
    </div>
    <div class="container has-text-centered">
        <div class="content is-size-4">
            <br>or request an invite<br>
        </div>
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <form name="form1" id="form-password" action="../actions/invite" method="post">
                    {% csrf_token %}
                    {% if s %}
                    <p class="is-size-5">{{ s }}</p><br>
                    {% endif %}
                    <div class="field">
                        <div class="control has-icons-left">
                            <input class="input is-large" type="text" placeholder="Company name" id="company" name="company">
                            <span class="icon is-small is-left">
                                <i class="fas fa-id-badge"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left">
                            <input class="input is-large" type="email" placeholder="Your email" id="email" name="email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left">
                            <input class="input is-large" type="email" placeholder="Email of company account" id="email" name="emailCompany">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="button is-block is-info is-large is-fullwidth" value="submit" id="submit">Request invite</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>