<!DOCTYPE html>
<html>
    {% include 'base/head.html' %}
    <body>
    {% include 'base/dash_header.html' with disabled=True %}
    <form name="form" id="form" action="/actions/add-company" method="post" style="max-width: 30%; margin: 0 auto; margin-top: 25px;">
        {% csrf_token %}
        <div class="field">
            <div class="control has-icons-left">
                <input class="input is-large" type="text" placeholder="Company name" id="company" name="company">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <button type="submit" class="button is-block is-info is-large is-fullwidth" value="submit" id="submit">Add company</button>
    </form>
</body>

</html>