<!DOCTYPE html>
{% load static %}
<html>
    {% include 'base/head.html' with extra_imports='/static/css/inbox.css' %}
    <body>
        {% include 'base/dash_header.html' %}
        <div class="columns" id="mail-app">
            <aside class="column is-2 aside hero is-fullheight">
                <div>
                    <div class="columns has-text-centered">
                        <div class="column">
                            <a href="?instagram" style="color: grey;">
                                <i class="fab fa-instagram" style="font-size: 25px; margin-top: 10px; margin-left: 20px;"></i>
                            </a>
                        </div>
                        <div class="column">
                            <a href="?twitter" style="color: grey;">
                                <i class="fab fa-twitter" style="font-size: 25px; margin-top: 10px; margin-left: -10px;"></i>
                            </a>
                        </div>
                        <div class="column">
                            <a href="?facebook" style="color: grey;">
                                <i class="fab fa-facebook" style="font-size: 25px; margin-top: 10px;margin-left: -10px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="column is-4 messages hero is-fullheight" id="message-feed">
                <div class="inbox-messages" id="inbox-messages">
                    {% if 'facebook' in request.GET %}
                        {% include 'base/dashboard.html' with messages=fb_messages %}
                    {% elif 'twitter' in request.GET %}
                        {% include 'base/dashboard.html' with messages=tw_messages %}
                    {% else %}
                        {% include 'base/dashboard.html' with messages=ig_messages %}
                    {% endif %}
                </div>
            </div>
            <div class="column is-6 message hero is-fullheight is-hidden" id="message-pane">
                <div class="action-buttons">
                    <div class="control is-grouped">
                        <a class="button is-small"><i class="fa fa-inbox"></i></a>
                        <a class="button is-small"><i class="fa fa-exclamation-circle"></i></a>
                        <a class="button is-small"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="control is-grouped">
                        <a class="button is-small"><i class="fa fa-exclamation-circle"></i></a>
                        <a class="button is-small"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="control is-grouped">
                        <a class="button is-small"><i class="fa fa-folder"></i></a>
                        <a class="button is-small"><i class="fa fa-tag"></i></a>
                    </div>
                </div>
                <div class="box message-preview">
                <div class="top">
                    <div class="address">
                        <div class="name"></div>
                        <div class="email is-size-7"></div>
                    </div>
                    <hr>
                    <div class="content">
                    </div>
                    <div class="send-message">
                    <form action="" method="get" onsubmit="$(this).sendMessage(); return false;">
                        {% csrf_token %}
                        <textarea id="message"></textarea>
                        <button type="submit">Send</button>
                    </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script>
        $(document).ready(function(){
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
            return cookieValue;
            }
            function appendReceivedMessage(message) {
                var dt = new Date();
                $('#message-pane div.top div.content').append("<div class='c'><p>" + message +"</p><span class='time-left'>" + dt.getHours() + ":" + dt.getMinutes() + "</span></div>");
            }

            function appendSentMessage(message) {
                var dt = new Date();
                $('#message-pane div.top div.content').append("<div class='c darker'><p>" + message +"</p><span class='time-right'>" + (dt.getHours() + ":" + dt.getMinutes()).toString() + "</span></div>");
            }
            $.fn.sendMessage = function() {
                var http = new XMLHttpRequest();
                http.open("POST", "/actions/send-message", true);
                http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                http.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                var params = "message=" + $('textarea#message').val() + "&to=" + $('#message-pane div.name').text();
                http.send(params);
                appendSentMessage($('textarea#message').val());
                $('textarea#message').val('');
                return false;
            }
            $
        });
        </script>
    </body>
</html>