<!DOCTYPE html>
<html>
    <script src="https://js.stripe.com/v3"></script>
    <script>
        var stripe = Stripe('pk_live_sOq4cOmnL8oZtzARK5FKZa7M', {
            betas: ['checkout_beta_4']
        });

        var checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', function () {
            stripe.redirectToCheckout({
                items: [{plan: '{{ package.stripe_id_monthly }}', quantity: 1}],
                successUrl: 'https://www.instapowr.nl/dashboard?s=succes',
                cancelUrl: 'https://www.instapowr.nl/package/{{ package.pk }}?s=error',
            })
            .then(function (result) {
                if (result.error) {
                    var displayError = document.getElementById('error-message');
                    displayError.textContent = result.error.message;
                }
             });
        });

        var checkoutButton = document.getElementById('checkout-button1');
        checkoutButton.addEventListener('click', function () {
            stripe.redirectToCheckout({
                items: [{plan: '{{ package.stripe_id_annual }}', quantity: 1}],
                successUrl: 'https://www.instapowr.nl/dashboard?s=succes',
                cancelUrl: 'https://www.instapowr.nl/package/{{ package.pk }}?s=error',
            })
            .then(function (result) {
                if (result.error) {
                    var displayError = document.getElementById('error-message1');
                    displayError.textContent = result.error.message;
                }
             });
        });
        </script>
    {% include 'base/head.html' with extra_imports='/static/css/inbox.css' %}
    <body>
    {% include 'base/dash_header.html' with disabled=True %}
    <div class="container is-fluid has-text-centered" style="margin-top: 25px;">
        <div class="columns">
            <div class="column is-4 is-offset-2">
                <p>{{ package.name }} Monthly</p>
                <p>${{ package.price }}</p>
                <button id="checkout-button" role="link" class="button is-block is-info is-large is-fullwidth" style="max-width: 50%; margin: 0 auto;">Choose</button>
                <div id="error-message"></div>
            </div>
            <div class="column is-4">
                <p>{{ package.name }} Annual</p>
                <p>${{ package.annual_price }}</p>
                <button id="checkout-button1" role="link" class="button is-block is-info is-large is-fullwidth" style="max-width: 50%; margin: 0 auto;">Choose</button>
                <div id="error-message1"></div>
            </div>
        </div>
    </div>
    </body>
</html>