<!DOCTYPE>
{% load static %}
<html>
    {% include 'base/head.html' with title='Instapowr - Social media inbox' %}
    <body>
        {% include 'base/header.html' %}
            <div class="container is-fluid columns" style="margin-top: 10px;">
                <div class="column">
                    <h3>Contact us</h3>
                    <div class="content is-medium">
                        Do you have a question, an enquiry, did you find an issue or do you need to contact us
                        for any other reason? Feel free to send us a message! <br><br>
                        <b>Milvozent</b><br>
                        Ferdinand Bolstraat 101 <br>
                        Leeuwarden  8932JN <br>
                        <a href="mailto:contact@instapowr.nl">contact@instapowr.nl</a><br>
                        <a href="mailto:stan@instapowr.nl">stan@instapowr.nl</a><br>
                        <a href="tel:+31642337877">+31 (6) 4233 7877</a>
                    </div>
                </div>
                <div class="column">
                    {% if error %}
                        {% include 'base/contact.html' with error=error %}
                    {% elif message %}
                        {% include 'base/contact.html' with message=message %}
                    {% else %}
                        {% include 'base/contact.html' %}
                    {% endif %}
                </div>
            </div>
        {% include 'base/footer.html' %}
    </body>
</html>