<!DOCTYPE>
{% load static %}
<html>
    {% include 'base/head.html' with title='Instapowr - Social media inbox' extra_imports='/static/css/custom.css' %}
    <body>
        {% include 'base/header.html' %}
        <section class="hero is-fullheight is-default is-bold has-bg-color">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered">
                        <div class="column is-5">
                            <figure class="image is-4by3">
                                <img src="{% static 'images/background.jpg' %}">
                            </figure>
                        </div>
                        <div class="column is-6 is-offset-1">
                            <h1 class="title is-2 has-text-white">
                                Super easy inboxing
                            </h1>
                            <h2 class="subtitle is-4 has-text-white">
                                Instapowr is a simple to use web application to manage the inboxing of all of your
                                social media accounts. Instapowr gives you the ability to read and reply, archive, forward
                                any message you receive on Twitter, Facebook and Instagram.
                            </h2>
                            <br>
                            <p class="has-text-centered">
                                <a href="/register" class="button is-medium">
                                    Sign up for free
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero-foot">
                <div class="container">

                </div>
            </div>
        </section>

        {% include 'base/footer.html' %}
    </body>
</html>