<!DOCTYPE>
{% load static %}
<html>
    {% include 'base/head.html' with title='Instapowr - Social media inbox' extra_imports="static/css/pricing_table.css"%}
    <body>
        {% include 'base/header.html' %}
            <div class="pricing-table is-horizontal">
               <div class="pricing-plan is-warning">
                    <div class="plan-header">Startups</div>
                    <div class="plan-items">
                        <div class="plan-item">20GB Storage</div>
                        <div class="plan-item">25 Domains</div>
                        <div class="plan-item">1TB Bandwidth</div>
                        <div class="plan-item">-</div>
                    </div>
                    <div class="plan-footer">
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
                        <button class="button is-fullwidth">Choose</button>
                    </div>
                </div>

                <div class="pricing-plan is-warning">
                    <div class="plan-header">Startups</div>
                    <div class="plan-items">
                        <div class="plan-item">20GB Storage</div>
                        <div class="plan-item">25 Domains</div>
                        <div class="plan-item">1TB Bandwidth</div>
                        <div class="plan-item">-</div>
                    </div>
                    <div class="plan-footer">
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
                        <button class="button is-fullwidth">Choose</button>
                    </div>
                </div>

              <div class="pricing-plan is-warning">
                    <div class="plan-header">Startups</div>
                    <div class="plan-items">
                        <div class="plan-item">20GB Storage</div>
                        <div class="plan-item">25 Domains</div>
                        <div class="plan-item">1TB Bandwidth</div>
                        <div class="plan-item">-</div>
                    </div>
                    <div class="plan-footer">
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
                        <button class="button is-fullwidth">Choose</button>
                    </div>
                </div>

              <div class="pricing-plan is-warning">
                    <div class="plan-header">Startups</div>
                    <div class="plan-items">
                        <div class="plan-item">20GB Storage</div>
                        <div class="plan-item">25 Domains</div>
                        <div class="plan-item">1TB Bandwidth</div>
                        <div class="plan-item">-</div>
                    </div>
                    <div class="plan-footer">
                        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
                        <button class="button is-fullwidth">Choose</button>
                    </div>
                </div>
            </div>
        <div class="container has-text-centered" style="margin-top:20px; margin-bottom: 40px; max-width: 60%;">
            {% include 'base/register.html' %}
        </div>
        {% include 'base/footer.html' %}
    </body>
</html>
