<!DOCTYPE>
{% load static %}
<html>
    {% include 'base/head.html' with title='Register' extra_imports='/static/css/custom.css' %}
    <body>
        {% include 'base/header.html' %}
        <section class="hero is-success is-fullheight register">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-4 is-offset-4">
                        <div class="has-text-centered">
                            <h3 class="title has-text-grey">Login</h3>
                            <div class="box">
                            <figure class="avatar">
                                <img src="{% static 'images/favicon.png' %}" width="128px">
                            </figure>
                            <form name="form1" id="form-password" action="../actions/login" method="post">
                                {% csrf_token %}
                                {% if s %}
                                <p>{{ s }}</p><br>
                                {% endif %}
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input class="input is-large" type="email" placeholder="Your email" id="email" name="email">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input class="input is-large" type="password" placeholder="Your password" id="password" name="password">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <button type="submit" class="button is-block is-info is-large is-fullwidth" value="submit" id="submit">Login</button>
                            </form>
                            </div>
                            <p class="has-text-grey">
                            <a href="/register">Sign up</a> &nbsp;·&nbsp;
                            <a href="/password-reset">Forgot Password</a> &nbsp;·&nbsp;
                            <a href="/contact">Need Help?</a>
                            </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script async type="text/javascript" src="{% static 'js/bulma.js' %}"></script>
        {% include 'base/footer.html' %}
    </body>
</html>