<!DOCTYPE>
{% load static %}
<html>
    {% include 'base/head.html' with title='Register' %}
    <body>
        {% include 'base/header.html' %}
        <section class="hero is-success is-fullheight register">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-4 is-offset-4">
                        {% if s %}
                        <p>{{ s }}</p>>
                        {% endif %}
                {% include 'base/register.html' %}
                    </div>
                </div>
            </div>
        </section>
        <script async type="text/javascript" src="{% static 'js/bulma.js' %}"></script>
        {% include 'base/footer.html' %}
    </body>
</html>